<h1 class="mb-4">Login</h1>
<% form_for(@user, '/sessions/create') do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <%= f.submit "Login", :id => 'loginButton', :class => "btn btn-primary" %>
<% end %>