<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :location %>
	<%= f.text_field :location, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, class: 'form-control' %>
</div>
