
<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
		<title>Job Vacancy Board - find the best jobs</title>
    <%= stylesheet_link_tag '/stylesheets/bootstrap' %>
    <%= stylesheet_link_tag '/stylesheets/site' %>
		<%= stylesheet_link_tag '/stylesheets/application' %>
	</head>
	<body>
		<div class="container">
      <div>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<span class="navbar-brand">Job Vacancy Board</span>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><%= link_to 'Home', url_for(:home, :index), class: 'nav-link' %></li>
							<li class="nav-item"><%= link_to 'Job offers', url_for(:job_offers, :latest), class: 'nav-link' %></li>
							<% if signed_in? %>
								<li class="nav-item"><%= link_to 'New Offer', url_for(:job_offers, :new), class: 'nav-link' %></li>
								<li class="nav-item"><%= link_to 'My Offers', url_for(:job_offers, :my), class: 'nav-link' %></li>

							<% end %>
							<% if signed_in? %>
								<li class="nav-item"><%= link_to 'Logout', url_for(:sessions, :destroy), class: 'nav-link' %></li>
							<% else%>
								<li class="nav-item"><%= link_to 'Login', url_for(:sessions, :login), class: 'nav-link' %></li>
							<% end %>
						</ul>
					</div>

					<span class="navbar-text">
						<% if signed_in? %>
							<%= current_user.email %>
						<% end %>
					</span>
				</nav>
			</div>

      <div class="container mt-4">
			  <div>
			    <%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type}", :id =>'flashMessage') }.join.html_safe %>
			  </div>

      	<%= yield %>

      </div>
      <!-- footer -->
      <div class="footer">
      	<hr/>
        <p>Job Vacancy Board by NicoPaez & Associates | 2019 | <%= Version.current %> </p>
      </div>

    </div>

    <%= javascript_include_tag '/javascripts/jquery' %>
    <%= javascript_include_tag '/javascripts/jquery-ujs' %>
    <%= javascript_include_tag '/javascripts/bootstrap' %>
		<%= javascript_include_tag '/javascripts/application' %>
		</body>
</html>
